<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <div class="admin-options">
            <p><a class="btn-primary" href="{{ url_for('add_question') }}">Add Question</a></p>
            <p><a class="btn-primary" href="{{ url_for('admin_view_results') }}">View All Users' Results</a></p>
            <p><a class="btn-primary" href="{{ url_for('upload_questions') }}">Upload Questions</a></p>
            <p><a class="btn-primary" href="{{ url_for('logout') }}">Logout</a></p>
        </div>
    </div>
</body>
</html>
